body{
    background-color: rgb(235, 193, 233);
    color: rgb(25, 9, 48);
}

nav {
    padding: 10px;
}

.navbar{
    background-color: rgb(25, 9, 48);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    color: snow;
}

#li a:hover {
    text-shadow: 2px 2px 2px rgb(125, 100, 125);
}

#heading{
    float: left;
    margin-top: 1.5%;
    margin-left: 2.5%;
    cursor: text;
}

#heading a:hover{
    cursor: text;
}

#li{
    margin-top: 1.5%;
    float: right;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin-bottom: 25px;
}

#sc{
    margin-left: 10%;
}

.intro{
    margin-top: 5%;
    max-height: 200px;
}

#vid{
    height:400px;
    width:708px;
    margin:5% 27%;
}

.card1 {
    position: relative;
    width: 320px;
    height: 370px;
    background: rgb(25, 9, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    color: snow;
    padding: 5%;
  }
  
.card1::before,
.card1::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(100, 38, 187);
    transition: all 0.5s;
  }
  
.card1::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
.card1::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
.card1:hover::before,
.card1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
.card1:hover:after {
    content: "HTML is the standard markup language used to create the structure and content of web pages.";
  }

.card2 {
    position: relative;
    width: 320px;
    height: 370px;
    background: rgb(25, 9, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    color: snow;
  }
  
.card2::before,
.card2::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(100, 38, 187);
    transition: all 0.5s;
  }
  
.card2::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
.card2::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
.card2:hover::before,
.card2:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
.card2:hover:after {
    content: "CSS is a style sheet language used to describe the presentation of a document written in a markup language.";
  }

.card3 {
    position: relative;
    width: 320px;
    height: 370px;
    background: rgb(25, 9, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    color: snow;
  }
  
.card3::before,
.card3::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(100, 38, 187);
    transition: all 0.5s;
  }
  
.card3::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
.card3::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
.card3:hover::before,
.card3:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
.card3:hover:after {
    content: "JavaScript is a versatile programming language used to create dynamic web pages and applications.";
  }

.cards{
    float: left;
    min-width: 100%;
    margin-left: 3%;
}

.cards div{
    padding: 5%;
    display: inline-block;
    min-width: 20%;
}

.skill{
    text-align: center;
}

.p1Card {
    width: 300px;
    height: 200px;
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
  
.p1Card::before {
    width: 150px;
    height: 150px;
    content: "";
    background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: -25%;
    top: -25%;
  }
  
.p1Heading {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(241, 241, 241);
    z-index: 2;
  }
  
.p1Description {
    font-size: 0.9em;
    color: rgb(241, 241, 241);
    z-index: 2;
  }
  
.ViewButton {
    padding: 11px 20px;
    background-color: #7b57ff;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    z-index: 2;
  }
  
.ViewButton:hover {
    background-color: #714aff;
    transition-duration: .2s;
  }

.p2Card {
    width: 300px;
    height: 200px;
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
  
.p2Card::before {
    width: 150px;
    height: 150px;
    content: "";
    background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: -25%;
    top: -25%;
  }
  
.p2Heading {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(241, 241, 241);
    z-index: 2;
  }
  
.p2Description {
    font-size: 0.9em;
    color: rgb(241, 241, 241);
    z-index: 2;
  }

.p3Card {
    width: 300px;
    height: 200px;
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
  
.p3Card::before {
    width: 150px;
    height: 150px;
    content: "";
    background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: -25%;
    top: -25%;
  }
  
.p3Heading {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(241, 241, 241);
    z-index: 2;
  }
  
.p3Description {
    font-size: 0.9em;
    color: rgb(241, 241, 241);
    z-index: 2;
  }

.p4Card {
    width: 300px;
    height: 200px;
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
  
.p4Card::before {
    width: 150px;
    height: 150px;
    content: "";
    background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: -25%;
    top: -25%;
  }
  
.p4Heading {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(241, 241, 241);
    z-index: 2;
  }
  
.p4Description {
    font-size: 0.9em;
    color: rgb(241, 241, 241);
    z-index: 2;
  }

.project div{
    padding: 5%;
    display: inline-block;
    max-width: 13%;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    background-color: #0a192f;
    border-radius: 20px;
  }
  
  .form-heading {
    text-align: center;
    margin: 2em;
    color: snow;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #64ffda;
    font-weight: bold;
    outline: 1px solid #64ffda;
    transition: all ease-in-out 0.3s;
  }
  
  .sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #64ffda;
    color: #000;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .form-card1:hover {
    box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
  }
  
  .form-card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  
  .form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  